<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeDao">
    <insert id="post" parameterType="board">
        INSERT INTO NOTICE(TITLE, CONTENT, WRITER_ID)
        VALUES (#{title}, #{content}, #{WRITER_ID})
    </insert>

    <update id="modify" parameterType="board">
        UPDATE NOTICE SET TITLE = #{title}, CONTENT = #{content}, MODDATE = #{moddate} WHERE ID = #{id}
    </update>

    <select id="get_board_list" resultType="board">
        SELECT F.ID, F.TITLE, F.CONTENT, M.NICKNAME, F.WRITER_ID, F.REGDATE, F.MODDATE, F.CNT FROM NOTICE F JOIN MEMBER M ON F.WRITER_ID = M.ID
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM NOTICE WHERE ID = #{id}
    </delete>

    <select id="get_board" parameterType="int" resultType="board">
        SELECT F.ID, F.TITLE, F.CONTENT, M.NICKNAME, F.WRITER_ID, F.REGDATE, F.MODDATE, F.CNT FROM NOTICE F JOIN MEMBER M ON F.WRITER_ID = M.ID WHERE F.ID = #{id}
    </select>
</mapper>